@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
  .accordion-block {
    justify-content: space-around;
    margin-left: 86px;
  }
}
@media  (max-width: 1024px){
  .accordion-block {
    justify-content: space-between;
    width: 981px;
    margin-left: 11px;
  }
}
@media  (max-width: 992px){
  .accordion-block {
    flex-direction: column;
  }
  #accordion h1 {
    text-align: center;
  }

  element.style {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .accordion-block {
    justify-content: space-between;
    width: 787px;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .title h2 {
    width: 482px;
    font-size: 22px;
  }
  .accordion-block {
    width: 660px;
  }
  .title {
    justify-content: space-around;
  }
  .item-line {
    width: 534px;
    height: 1px;
    margin: 10px 10px;
  }

}

@media (max-width: 451px) {

}

@media (max-width: 400px) {

}

@media (max-width: 376px) {


}

@media (max-width: 320px) {
}