@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}


@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
  #about .about {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}


@media (max-width: 1024px)  {
  .container{
    width: 90%;
  }

}
@media (max-width: 992px) {
  .container{
    width: 90%;
  }


}


@media (max-width: 768px) {
  .container{
    width: 90%;
  }
  #about .about--block__block5 {
    margin-top: 0;
    width: 400px;
    height: 450px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
  #about .about--block__block3 {
    margin-bottom: 40px;
    position: relative;
    margin-top: 42px;
    width: 400px;
    height: 800px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
  #about .btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #about .btns div {
    margin: 10px 10px;
  }
}


@media (max-width: 576px) {
  .container{
    width: 90%;
  }




}


@media (max-width: 453px) {
  .container{
    width: 90%;
  }

}


@media (max-width: 400px) {
  .container{
    width: 90%;
  }
  #about .about--block__block2 h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }
  #about .about--block__block2--block3 h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }
  #about .btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  #about .about--block__block2 img {
    width: 300px;
    margin-left: 18px;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  #about .about--block__block2--block3 div {
    margin-left: 18px;
  }
  #about .about--block__block2 {
    width: 338px;
    height: 408px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  #about .about--block__block2 hr {
    width: 298px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block2--title h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 20px;
  }
  #about .about--block__block5 h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }
  #about .about--block__block5--block6 h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block5 img {
    width: 300px;
    margin-left: 18px;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  #about .about--block__block5 img {
    width: 300px;
    margin-left: 18px;
    margin-top: 15px;
  }
  #about .about--block__block5 {
    margin-top: 0;
    width: 336px;
    height: 424px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
  #about .about--block__block5--block6 div {
    margin-left: 10px;
  }
  #about .about--block__block5 hr {
    margin-top: 12px;
    width: 299px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block3 h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }
  #about .about--block__block3--block4 h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block3 img {
    width: 300px;
    margin-left: 20px;
    padding-top: 15px;
    padding: 20px 0;
  }
  #about .about--block__block3 {
    margin-bottom: 40px;
    position: relative;
    margin-top: 42px;
    width: 340px;
    margin-left: 3px;
    height: 711px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
  #about .about--block__block3--block4 div {
    margin-left: 4px;
  }
  #about .about--block__block3 hr {
    width: 304px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }


}


@media (max-width: 380px) {
  .container{
    width: 90%;
  }

}


@media (max-width: 320px) {
  .container{
    width: 90%;
  }
  #about .about--block__block2 h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }
  #about .about--block__block2--block3 h4 {
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block2 img {
    width: 275px;
    margin-left: 18px;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  #about .about--block__block2 {
    width: 285px;
    height: 408px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  #about .about--block__block2--block3 div .three {
    width: 49px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #about .about--block__block2--block3 div .two {
    width: 49px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #about .about--block__block2--block3 div .two {
    width: 53px;
    height: 27px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }
  #about .about--block__block2--block3 div .one {
    width: 35px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #about .about--block__block2--block3 div {
    margin-left: 8px;
  }
  #about .about--block__block2 img {
    width: 246px;
    margin-left: 18px;
    margin-top: 15px;
    padding-bottom: 10px}
  #about .about--block__block2 hr {
    width: 242px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block2--title h5 {
    font-weight: 400;
    font-size: 9px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 20px;
  }
  #about .about--block__block2 {
    width: 285px;
    height: 366px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  #about .about--block__block5 h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }


  #about .about--block__block5--block6 h4 {
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block5--block6 div .three {
    width: 48px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #about .about--block__block5--block6 div .two {
    width: 51px;
    height: 27px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }
  #about .about--block__block5 {
    margin-top: 0;
    width: 285px;
    height: 392px;
    margin-left: 3px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
  #about .about--block__block5 img {
    width: 246px;
    margin-left: 18px;
    margin-top: 15px;
  }
  #about .about--block__block5 hr {
    margin-top: 12px;
    width: 244px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block3 h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 17px;
  }


    #about .about--block__block3 {
      margin-bottom: 40px;
      position: relative;
      margin-top: 42px;
      width: 285px;
      margin-left: 3px;
      height: 627px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      -webkit-backdrop-filter: blur(7.5px);
      backdrop-filter: blur(7.5px);
      border-radius: 10px;
    }
  #about .about--block__block3--block4 h4 {
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
  }


  #about .about--block__block3 img {
    width: 246px;
    margin-left: 20px;
    padding-top: 15px;
    padding: 20px 0;
  }
  #about .about--block__block3 hr {
    width: 247px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
  }
  #about .about--block__block3--block4 div .three {
    width: 48px;
    height: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }

  #about .about--block__block3--block4 div .two {
    width: 48px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }

  #about .about--block__block3--block4 div .one {
    width: 36px;
    height: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }


}